<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>
<body ng-controller="MainController">
  <div>
    <input type="number" ng-model="firstNum" name="First number" id="">
  </div>
  <div>
    <input type="number" ng-model="secondNum" name="Second number" id="">
  </div>
  <button ng-click="sendData()">Send</button>
  <div>
    {{ sumResult }}
  </div>
</body>
</html>